body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
